<nav class="navbar navbar-default" style="background-color : #5DA4BE; height:80px;">
    <div class="container-fluid" >
        <div class="navbar-header" style="margin-top:15px;" >
            <div style="font-size:40px; text-align:center; color:#FFFF">Kakao<span style="color:#333">Conference</span></div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:15px;">
            <ul class="nav navbar-nav" style="float: right; ">
                <li><a href="/" style="font-size:20px; text-align:center; color:#FFFF">예약현황</a></li>
                <li><a href="/reserve" style="font-size:20px; text-align:center; color:#FFFF">예약하기</a></li>
            </ul>
        </div><!— /.navbar-collapse —>
    </div><!— /.container-fluid —>
</nav>