{{#partial "content"}}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input type="name" class="form-control" id="roomName" placeholder="방이름을 입력해주세요.">
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group">
                    <input type="name" class="form-control" id="userName" placeholder="예약자 성함을 입력해주세요.">
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group">
                    <input type="date" class="form-control" id="date" value="" placeholder="예약일자를 입력해주세요.">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group">
                    <input type="time" class="form-control" id="startTime" placeholder="시작시간를 입력해주세요.">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group">
                    <input type="time" class="form-control" id="endTime" placeholder="종료시간를 입력해주세요.">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group">
                    <input type="number" value="1" class="form-control" min="1" id="repeat" placeholder="반복횟수를 입력해주세요.">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->
            <button type="submit" id="reserve" class="form-control btn width10" style="background: #36bfb8; border-color: #36bfb8; color: white">예약하기</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="/js/reserve.js"></script>
{{/partial}}
{{>base}}

